@model List<Post>
@{
	ViewData["Title"] = "Index";
}
@foreach (var post in @Model)
{
	<div class="card mb-5">
		<div class="card-header">
			<h2>@post.Title</h2>
		</div>
		<div class="card-body">
			<p>@post.Content</p>

			<a href="/post/detail/@post.Id" class="btn">Detail</a>
			<a href="/post/edit/@post.Id" class="btn">Edit</a>
			<a href="/post/delete/@post.Id" class="btn">Delete</a>
			<a href="/post/create/@post.Id" class="btn">Create</a>
		</div>
	</div>
}

<a href="/post/index?page=@ViewBag.PrevPage"
   class="btn">Sebelumnya</a>

<a href="/post/index?page=@ViewBag.NextPage"
   class="btn">Selanjutnya</a>
