@model List<Registrasi>
@{
	ViewData["Title"] = "Registration";
}
<div class="form-container">
		<h3>Registration</h3>
<form method="post" action="register">
			<label>Name</label>
			<input type="text" name="Name"
			class="form-control"
			/>

			<label>Username</label>
			<input type="text" name="Username"
			class="form-control" />

			<label>Email</label>
			<input type="email" name="Email"
			class="form-control" />

			<label>Password</label>
			<input type="password" name="Password"
	   	    class="form-control" />

			<label>Address</label>
			<input type="text" name="Address"
			class="form-control" />

			<label>Phone</label>
			<input type="text" name="Phone"
			class="form-control" />

			<label>Date of Birth</label>
			<input type="datetime-local" name="DateOfBirth"
			class="form-control" />
	
			<button type="submit" class="btn">
				Save
			</button>
			<a href="/account/show" class="btn">User Table</a>
</form>
</div>